div#movie-details {
  display: flex;
  height: 80vh;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  div.poster {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: 2px solid rgb(0, 195, 255);

      border-radius: 15px;
      transition: 0.4s;

      &:hover {
        // transform: scale(1.02);
        box-shadow: 0px 0px 10px 2px rgb(0, 195, 255);
      }
    }
  }

  div.details {
    width: 50%;
    position: relative;

    span.rating-big {
      position: absolute;
      right: 0;
      font-size: 1.6em;
      border: 2px solid rgb(0, 195, 255);
      border-radius: 100%;
      padding: 10px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: default;
    }

    h1 {
      font-size: 2em;
      margin-bottom: 20px;
      span {
        color: rgb(0, 195, 255);
      }
    }
    h3 {
      font-size: 1.5em;
      margin-bottom: 15px;
      line-height: 1.2em;
      span {
        color: rgb(0, 195, 255);
      }
      div.plot {
        margin-top: 15px;
      }
    }
    h3.actors {
      display: flex;
    }
    h3:last-child {
      margin-top: 1.5em;
    }
  }
}


@media screen and (max-width: 1400px) {

  div#movie-details {
    padding: 25px 0;
    width: 95%;

    div.details {
    width: 55%;
    }
    div.poster {
      width: 45%;
    }

  }

  
  div#movie-details div.details h1 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  div#movie-details div.details h3 {
    font-size: 1.3em;
    margin-bottom: 12px;
  }
}


@media screen and (max-width: 900px) {

   div#movie-details {
    padding: 20px 0;
    width: 95%;

    div.poster {
      width: 60%;
      padding: 35px;
    }
  }

  div#movie-details div.details {
    width: 50%;
  }
  div#movie-details div.details h1 {
    font-size: 1.4em;
    margin-bottom: 12px;
  }
  div#movie-details div.details h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  div#movie-details div.poster img {
    width: 100%;

  }
}


@media screen and (max-width: 600px) {

  header {
    padding:10px 30px;
  }
  div#movie-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
  }
  div#movie-details div.details {
    width: 100%;
    padding: 30px;
    margin-left: 30px;

    div#movie-details div.details h1 {
      width: 50%;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }
  div#movie-details div.details h3 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  div#movie-details div.poster {
      width: 60%;
      padding: 30px;
    }
}


@media screen and (max-width: 1400px) {
  
  
}


@media screen and (max-width: 900px) {


}


@media screen and (max-width: 600px) {


}