div.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  h3 {
    font-size: 1.3em;
    font-weight: bold;
  }

  select,
  button {
    width: 150px;
    border-radius: 15px;
    color: rgb(0, 195, 255);
    font-size: 1.2em;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    padding: 10px 20px;
    height: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 10px white;
    }
  }

  select {
    width: 150px;
  }

  option {
    background-color: rgb(0, 7, 15);
  }
}


// @media screen and (max-width: 1400px) {
  
// }


@media screen and (max-width: 900px) {

  div.filter {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 600px) {

  div.filter select, div.filter button {
    width: 125px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
  }
}