header {
  width: 100%;
  padding: 20px 20px;

  div#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    h3#logo {
      font-size: 2em;
    }

    div#input-div {
      position: relative;

      input {
        padding: 5px 10px;
        border: none;
        outline: none;
        width: 300px;
        border-radius: 10px;
        transition: 0.4s;

        &:focus {
          box-shadow: 0px 0px 15px 2px rgb(0, 195, 255);
        }
      }

      ul#searchList {
        background-color: rgb(0, 7, 15);
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 150px;
        width: 300px;
        padding: 10px 10px;
        z-index: 999999;
        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 1px white;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 3px white;
        }

        li {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          align-items: center;
          padding: 5px 5px;
          border-radius: 5px;
          z-index: 99999;

          &:hover {
            background-color: white;
            color: rgb(0, 7, 15);
            font-weight: bold;
          }

          span {
            width: 70%;
            cursor: default;
          }

          img {
            height: 16px;
            cursor: pointer;
          }
        }
        img.loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100px;
          overflow: hidden;
        }
      }
    }
  }
}

div.half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-width: 300px;
}

@media screen and (max-width: 900px) {
  div.half {
    flex-wrap: wrap;
    justify-content: space-between;

    &div.half:last-child {
      position: right;
    }
  }
  header div#header h3#logo {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 600px) {
  header div#header div#input-div input {
    padding: 5px 10px;
    width: 250px;
  }

  h3#logo {
    margin-bottom: 20px;
  }

  div.half {
    flex-direction: column;
  }
}


// @media screen and (max-width: 1400px) {
  
  
// }


@media screen and (max-width: 900px) {

  div.half {
    flex-wrap: wrap;
    justify-content: space-between;

    &div.half:last-child {
      position: right;
    }
  }
  header div#header h3#logo {
    font-size: 1.6em;
  }
}


@media screen and (max-width: 600px) {

  header div#header div#input-div input {
    padding: 5px 10px;
    width: 200px;
  }
}